/*Main HTML tag*/
html {
  overflow: hidden;
}

/*Header*/
#dresseco-header-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1;
  background-color: rgba(248, 249, 250, 0.8);
  padding-left: 12px;
  padding-right: 12px;
}

.dresseco-header-navbar-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#dresseco-header-navbar-action-buttons-main-language-dropdown {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.goog-te-combo {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#dresseco-header-navbar-pages-home,
#dresseco-header-navbar-pages-catalogue {
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 274.98px) {
  #dresseco-header-navbar-action-buttons-main button,
  .dresseco-button {
    font-size: 0.5rem !important;
  }
}

@media only screen and (max-width: 374.98px) {
  #dresseco-header-navbar-action-buttons-main button,
  .dresseco-button {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 991.98px) {
  #dresseco-header-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .navbar-collapse {
    order: 3;
  }

  #dresseco-header-navbar-brand {
    order: 1;
    flex-basis: 100%;
  }

  #dresseco-header-navbar-brand img {
    display: block;
    max-height: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  #dresseco-header-navbar-action-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }

  #dresseco-header-navbar-action-buttons-main button,
  .dresseco-button {
    padding: 0.5rem 1rem;
  }

  #dresseco-header-navbar-action-buttons-main-language {
    margin-left: 0rem;
  }

  #dresseco-header-navbar-separator {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #dresseco-header-navbar-pages {
    margin-bottom: 15px;
  }

  .form-floating > .form-control,
  .form-floating > .form-control-plaintext {
    padding: 0rem 0.75rem;
  }

  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2.84rem + 3px) !important;
    line-height: 1;
  }

  .form-floating > label {
    padding: 0.65rem 0.75rem !important;
  }
}

@media only screen and (min-width: 992px) {
  #dresseco-header-navbar-brand img {
    max-height: 64px;
  }

  #dresseco-header-navbar-pages-home {
    margin-left: 2rem !important;
  }

  #dresseco-header-navbar-action-buttons-main-language {
    margin-left: 0.25rem;
  }

  #dresseco-header-navbar-action-buttons-main-collapse {
    display: none;
  }
}

#dresseco-header-navbar-pages {
  font-size: 1.1rem;
}

#dresseco-header-navbar-pages-home:hover,
#dresseco-header-navbar-pages-catalogue:hover {
  color: var(--dresseco-teal-500);
  text-decoration: underline;
}

#dresseco-header-navbar-action-buttons-main button,
.dresseco-button {
  font-size: 1.2rem;
}

/*Decrease size of form/input when there's a floating label*/
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0rem 0.75rem;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: calc(2.5rem + 2px);
  line-height: 1;
}

.form-floating > label {
  padding: 0.5rem 0.75rem;
}

/*Footer*/
footer {
  border-top: 1px solid rgb(0, 0, 0, 0.175);
  border-bottom: 1px solid rgb(0, 0, 0, 0.175);
  position: relative;
  z-index: 0;
  padding-bottom: 0.5rem;
}

#dresseco-footer-container-metadata {
  margin-bottom: 2rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
  
#dresseco-footer-container-metadata-logo, #dresseco-footer-container-metadata-about-us, #dresseco-footer-container-metadata-links, #dresseco-footer-container-metadata-newsletter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#newsletter-modal-disclaimer {
  margin-top: -0.3rem;
  margin-bottom: 0;
  font-size: 0.7rem;
}

@media only screen and (max-width: 991.98px) {
  #dresseco-footer-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  #dresseco-footer-container-metadata-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 60px;
  }

  #dresseco-footer-container-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  #dresseco-footer-container-metadata-about-us {
    flex-basis: 100%;
    order: 1;
  }

  #dresseco-footer-container-metadata-about-us span {
    display: none;
  }

  #dresseco-footer-container-metadata-about-us p {
    text-align: center;
    width: 100%;
  }

  #dresseco-footer-container-metadata-links {
    padding-top: 10px;
    flex-grow: 1;
    order: 2;
  }

  #dresseco-footer-container-metadata-newsletter {
    padding-top: 10px;
    flex-grow: 1;
    order: 3;
  }

  #dresseco-footer-container-bottom {
    display: flex;
    flex-direction: column;
  }

  #dresseco-footer-container-bottom-social-media {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
  }

  #dresseco-footer-container-bottom-disclaimer {
    margin-top: 25px;
    position: relative;
    text-align: justify;
  }
}

@media only screen and (min-width: 992px) {
  #dresseco-footer-container-metadata-logo a {
    height: fit-content;
  }

  #dresseco-footer-container-metadata-logo img {
    max-height: 75px;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }

  #dresseco-footer-container-metadata-about-us {
    margin-top: 1rem;
  }

  #dresseco-footer-container-metadata-about-us p {
    text-align: justify;
    width: 75%;
  }

  #dresseco-footer-container-metadata-newsletter {
    display: flex;
    justify-content: end;
  }

  #dresseco-footer-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #dresseco-footer-container-bottom-social-media {
    order: 1;
  }
}

/*Loading screen*/
#dresseco-loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.8);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#dresseco-loading-screen-spinner {
  width: 75px;
  height: 75px;
}

#dresseco-loading-screen-spinner:after {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 7px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  animation-name: dresseco-loading-screen-spinner;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dresseco-loading-screen-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
