:root {
  --dresseco-teal-500: #20c997;
  --dresseco-teal-200: #a6e9d5;
}

::selection {
  color: #343a40;
  background: var(--dresseco-teal-200);
}

::-moz-selection {
  color: #343a40;
  background: var(--dresseco-teal-200);
}

:focus {
  border-radius: var(--bs-border-radius);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://icons.getbootstrap.com/assets/icons/x-circle-fill.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  font-size: 1.15rem;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}
