/*PWA specific*/
@media (display-mode: standalone),
  (display-mode: fullscreen),
  (display-mode: minimal-ui) {
  body {
    overscroll-behavior-y: contain;
  }
}

/*Custom font*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}

/*CSS custom color variables*/
:root {
  --dresseco-teal-500: #20c997;
  --dresseco-teal-200: #a6e9d5;
}

/*Custom color of selector on text selection*/
::selection {
  color: #343a40;
  background: var(--dresseco-teal-200);
}

::-moz-selection {
  color: #343a40;
  background: var(--dresseco-teal-200);
}

/*Custom outline border when looping with the keyboard through elements*/
:focus {
  border-radius: 0.375rem;
  outline-color: rgba(0, 123, 255, 0.25);
  outline-style: solid;
  outline-width: medium;
}

button:focus.carousel-control {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/*WebKit specific, custom clear input button on search input*/
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://icons.getbootstrap.com/assets/icons/x-circle-fill.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  font-size: 1.15rem;
  margin-left: 0.3rem;
  margin-right: 0rem;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

/*Custom color on (HTML) links when on hover*/
.dresseco-link a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.dresseco-link a:hover {
  color: var(--dresseco-teal-500);
  text-decoration: underline;
}

.dresseco-link-white a {
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.dresseco-link-white a:hover {
  color: var(--dresseco-teal-500);
  text-decoration: underline;
}

.dresseco-link-white-2 {
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.dresseco-link-white-2:hover {
  color: var(--dresseco-teal-500);
  text-decoration: underline;
  cursor: pointer;
}

.dresseco-link-muted a {
  color: rgba(33, 37, 41, 0.75);
  transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.dresseco-link-muted a:hover {
  color: var(--dresseco-teal-500);
}

.dresseco-link-title a {
  color: black;
  transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.dresseco-link-title a:hover {
  color: var(--dresseco-teal-500);
}

/*SweetAlert2 custom CSS classes based on Bootstrap 5*/
.dresseco-modal-popup {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.swal2-close {
  --bs-btn-close-color: #000 !important;
  --bs-btn-close-opacity: 0.5 !important;
  --bs-btn-close-hover-opacity: 0.75 !important;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  --bs-btn-close-focus-opacity: 1 !important;
  --bs-btn-close-disabled-opacity: 0.25 !important;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%) !important;
  box-sizing: content-box !important;
  width: 1em !important;
  height: 1em !important;
  padding: 0.25em 0.25em !important;
  color: var(--bs-btn-close-color) !important;
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat !important;
  border: 0 !important;
  border-radius: 0.375rem !important;
  /*opacity: var(--bs-btn-close-opacity) !important;*/
  font-size: 1.3rem !important;
  z-index: 2 !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: -1.2em !important;
  overflow: hidden !important;
  justify-self: end !important;
}

.dresseco-modal-htmlcontainer {
  color: black !important;
  height: calc(100% - 1rem) !important;
}

.dresseco-modal-button {
  margin: calc(0.5rem * 0.5);
}

.dresseco-toast-title {
  color: black !important;
}

@media only screen and (max-width: 767.98px) {
  .dresseco-modal-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .dresseco-modal-popup {
    font-size: 1.05rem !important;
  }
}
